.banner {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 40px;
}

.target {
  margin-left: 20px;
}

.rightContent {
  float: right;
  width: 40%;
  margin-right: 20px;
}

.buttonGroup {
  margin-top: 175px;
}

.buttonGroup button {
  display: block;
  margin-bottom: 14px;
}

h1 {
  margin: 0;
}
